---
import { Icon } from 'astro-icon/components'
---
<header>
    <div class="navbar">
        <p>Lista de Productos</p>
        <Icon name={'shop'}/>
    </div>
</header>
<style>
    header{
        background: var(--primary);
        box-shadow: 0 2px 10px var(--primary-900);
    }
    .navbar p{
        font-family: var(--font-text);
        font-size: 1.6rem;
    }
    [data-icon]{
        font-size: 1.6rem;
    }
    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: var(--text-color-primary);
        padding: .75rem;
}
</style>